body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:532px;
  top:197px;
  width:228px;
  height:27px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u3 {
  position:absolute;
  left:532px;
  top:234px;
  width:228px;
  height:27px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:27px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u4 {
  position:absolute;
  left:532px;
  top:309px;
  width:102px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
